.svn
.project
.idea
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
nbproject/

/app/etc
/includes/src/*
/media/
/pkginfo/
/skin/frontend/*/*/css/writeonepagecheckout.css
/skin/frontend/*/*/.sass-cache
/var/
/var/cache/*
/var/log/*
/var/locks/*
/var/report/*
/var/session/*
/downloader
/HTML
/wp
.sass-cache

/.htaccess
.DS_Store
robots.txt
sitemap.xml
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
git-log.txt

/cgi-bin
/.ftpquota
/error_log
/.htpasswd
/install.php
/php.ini.sample
/RELEASE_NOTES.txt
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt

*.log
/jajuma_blog/*/.htaccess
/jajuma_blog/*/sitemap.xml
/jajuma_blog/*/sitemap.xml.gz
/jajuma_blog/*/wp-config.php
/jajuma_blog/*/wp-content/advanced-cache.php
/jajuma_blog/*/wp-content/backup-db/
/jajuma_blog/*/wp-content/backups/
/jajuma_blog/*/wp-content/blogs.dir/
/jajuma_blog/*/wp-content/cache/
/jajuma_blog/*/wp-content/upgrade/
/jajuma_blog/*/wp-content/uploads/
/jajuma_blog/*/wp-content/wp-cache-config.php
/jajuma_blog/*/wp-content/themes/wp-content/
/jajuma_blog/*/wp-content/themes/twentyfourteen
/jajuma_blog/*/wp-content/themes/twentythirteen
Moeroas_Commercebug.xml
Bubble_Debug.xml
Bubble_CodeReview.xml
license.txt